.danger {
  background-color: #ffdddd;
  border-left: 6px solid #f44336;
}
:root {
  --Patua: "Patua One", cursive;
}
img {
  border-radius: 50%;
}
.navbar {
  background: oldlace;
}
header .nav-item:last-child {
  padding-right: 5em;
}
header .nav-item {
  padding: 0.5em;
}
header .navbar-brand {
  padding-left: 3rem;
}
header .nav-link:hover {
  color: black;
}
header,
section {
  overflow: hidden;
  background-color: cadetblue;
  margin-top: 1rem;
}
.dropdown-content {
  display: none;
  position: absolute;
  background: oldlace;
  min-width: 160px;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0, 2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  text-align: center;
  background: #ffdddd;
  margin-top: 1rem;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #ffdddd;
  perspective: 1000px;
  margin-top: 2rem;
}

.flip-card-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background: #ffdddd;
  color: black;
}

.flip-card-back {
  background: #ffdddd;
  color: black;
  transform: rotateY(180deg);
}

.cover {
  width: 100%;
  height: 55vmin;
  background: url("../assets/tcemdu.jpg");
  background-position: -24rem -19 rem;
  background-size: 100%;
  position: relative;
}

.cover .content {
  background: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
  padding-top: 19vmin;
}

.cover .content > h1 {
  font-family: var(--Patua);
  font-size: 6vmin;
  color: antiquewhite;
}

.numbers .rect {
  position: relative;
  z-index: 1;
  background: lightgoldenrodyellow;
  width: 8rem;
  height: 8rem;
  padding-top: 2rem;
  margin: 1rem;
  border-radius: 0.5em;
  box-shadow: 1px 2px 50px 0px rosybrown;
}

.numbers {
  margin-top: -15vmin;
}

.numbers .rect h1 {
  font-size: 2rem;
  color: #f44336;
}

.numbers .rect p {
  font-family: var(--Patua);
}

footer {
  background: rgba(0, 0, 0, 0.851);
  overflow-x: hidden;
  padding: 8vmin 12vmin;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.815);
  z-index: 9999;
  transition: all 1.5s ease;
}
